/* Background---------------------------------------------------------------------------------------------------------------*/

@font-face {
  font-family: 'CustomFont';
  src: url('../fonts/nitw.ttf') format('truetype');
}

body {
  background-color: #1c1c1c;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
} 

header {
  display: flex;
  font-family: 'CustomFont', sans-serif;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

header h1 {
  font-family: 'CustomFont', sans-serif;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 5px 5px #000;
}

header nav {
  display: flex;
  align-items: center;
}

header a {
  color: #fff;
  font-size: 20px;
  margin-left: 20px;
  text-decoration: none;
  text-shadow: 2px 2px #000;
}

/* Main Content----------------------------------------------------------------------------------------------------------*/
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

main h2 {
  font-family: 'CustomFont', sans-serif;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-shadow: 2px 2px #000;
  width: 100%;
}

main form {
  font-family: 'CustomFont', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
}

main form label {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-shadow: 2px 2px #000;
  width: 100%;
}

main form input[type="text"], main form input[type="email"], main form input[type="password"], main form select, main form textarea {
  background-color: #333;
  font-family: 'CustomFont';
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 25px;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
}

main form button {
  background-color: #ff5500;
  border: none;
  font-family: 'CustomFont';
  font-size: 25px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 10px 20px;
  text-align: center;
  text-shadow: 2px 2px #000;
  transition: all 0.3s ease;
  
}

main form button:hover {
  background-color: #ff7f33;
  transform: scale(1.2);
}

main form button:active{
  transform: scale(0.9);
}

main img {
  border-radius: 50%;
  box-shadow: 2px 2px 10px #000;
  height: 250px;
  width: 250px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  bottom: 0;
  width: 100%;
  position:fixed;
  font-family: 'CustomFont';
}

footer p {
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-shadow: 2px 2px #000;
}

footer a {
  color: #fff;
  text-decoration: none;
  text-shadow: 2px 2px #000;
}

#centered{
  text-align: center;
}

.div-form-login{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.error_message{
  font-size: 50px;
}

.title-with-image {
  display: flex;
  align-items: center;
}

.title-with-image img{
  width: 7%;
  height: auto;
}

input::placeholder {
  font-family: 'CustomFont';
  font-size: 25px;
}


/*Formato de las Imagenes---------------------------------------------------------------------------------------------------*/

.contenedor-imagenes {

    position: relative;
}

.contenedor-imagenes img {
    position: absolute;
    top: 0;
    left: 0;
}

.contenedor-imagenes img:nth-child(1) {
    z-index: 1;
}

.contenedor-imagenes img:nth-child(2) {
    z-index: 2;
}

.contenedor-imagenes img:nth-child(3) {
    z-index: 3;
}

.contenedor-imagenes img:nth-child(4) {
    z-index: 4;
}

.col-md-6{
  font-family: 'CustomFont';
  font-size: 30px;
  text-shadow: 2px 2px #000;
}

.form-control{
  background: rgb(35, 35, 35);
  background: linear-gradient(90deg, rgba(7,255,252,1) 0%, rgba(21,221,236,1) 36%, rgba(2,0,36,1) 71%);
  font-size: 20px;
}

#skinStyle option {
  background-color: rgb(35, 35, 35);
  color: white;
  text-shadow: 2px 2px #000;
  font-size: 20px;
}
#hairStyle option {
  background-color: rgb(35, 35, 35);
  color: white;
  text-shadow: 2px 2px #000;
}
#clothesStyle option {
  background-color: rgb(35, 35, 35);
  color: white;
  text-shadow: 2px 2px #000;
  direction:ltr;
}

#accessoriesStyle option {
  background-color: rgb(35, 35, 35);
  color: white;
  text-shadow: 2px 2px #000;
  
.div-form-login p {
  font-size: 25px;
